<div class="l-body">
  <%# ヘッダー %>
  <div class="header">
    <%= render "shared/viewer-header"%>
  </div>
  <%# /ヘッダー %>


  <%#= ヘッダー写真(付けるなら) %>
  <%#= ヘッダー写真 %>


  <%# メイン %>
  <div class="article-index-main">

    <%# カテゴリーリンク欄 %>
    <div class="main-category-link-list">
      <div class="main-category-links">
        <ul>
          <li class="main-category-link" id="category-link-1" data-num="1">
            全て
          </li>
          <% if @categories.present? %>
            <% @categories.each do |category| %>
              <li class="main-category-link" id="category-link-1" data-num="<%= @num %>">
                <%= category.name %>
              </li>
              <% @num += 1 %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <%# カテゴリーリンク欄 %>

    <%# 記事一覧 %>
    <div class="index-article-contents-list">
      <div class="index-article-contents view-first-category" data-num="1">
        <%= render partial: "shared/article_list", locals: {articles: @articles} %>

        <%# 仮のためあとで消す %>
        <%= render "shared/category_sample" %>
        <%# 仮のためあとで消す %>

      </div>
      <%= render "shared/category" %>
    </div>
    <%# /記事一覧 %>

    <%# ページネーション %>
    <div class="pagination">
    </div>
    <%# /ページネーション %>
  </div>
  <%# /メイン %>

  <%# フッター %>
  <div class="footer">
    <%= render "shared/viewer-footer" %>
  </div>
  <%# /フッター %>

  <p>プロフィールの画面遷移テスト</p>
  <% @profiles.each do |profile| %>
    <%= link_to profile.master.name, profile%>
  <%end%>
</div>