<p id="notice"><%= notice %></p>
<div class="l-body">
  <%# ヘッダー %>
  <div class="header">
    <%= render "shared/viewer-header"%>
  </div>
  <%# /ヘッダー %>

  <div class="article-show">
    <div class="article-main">
      <ul class="articles-tags-list">
        <% @categories.each do |category| %>
        <li class="article-tag">
          <%= link_to category_path(article.id) %> 
        </li>
      </ul>

      <div class="article-head">
        <div class="article-title">
          <%= @article.title %>
        </div>

        <div class="article-head-right">
          <div class="article-writer">
            <%= @article.master.name %>
          </div>

          <div class="article-date">
           <%= @article.updated_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
      </div>

      <div class="article-image">
        <%= image_tag @article.image %>
      </div>

      <div class="table-content">
      mokuji
      </div>

      <div class="article-content">
        <%= @article.content %>
      </div>

      <%= link_to 'Back', articles_path %>

    </div>

      <div class="article-side-bar">
        <%= render partial: "shared/side_bar", locals: {members: @members}%>
      </div>
  </div>


  <%# フッター %>
  <div class="footer">
    <%= render "shared/viewer-footer" %>
  </div>
  <%# /フッター %>
</div>


