<% if datas.present? %>
  <% datas.each do |data| %> 
    <%= link_to article_path(data.article) do %>
      <div class="index-article">
        <div class="index-article-image">
          <% if data.article.image.present? %>
            <%= image_tag data.article.image %>
            <div class="index-article-image-category">
              <%= data.article.category.name %>
            </div>                
          <% end %>
        </div>
        <div class="index-article-content">
          <div class="index-article-title">
            <%= data.article.title %>
            <span>タイトル1</span>
          </div>
          <div class="index-article-content-line">
            <%= data.article.content %>
          </div>
        </div>              
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="none-article">
    <span>記事がありません</span>
  </div>
<% end %>